    <!-- Below Meta Tags Generated via https://www.opengraph.xyz -->
    <!-- HTML Meta Tags -->
    <meta name="description" content="Assists external project communities interested in becoming an Apache project learn how The ASF works and its views on how to build a healthy community">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://petri.apache.org">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Apache Petri">
    <meta property="og:description" content="Assists external project communities interested in becoming an Apache project learn how The ASF works and its views on how to build a healthy community">
    <meta property="og:image" content="https://petri.apache.org/images/logo.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="petri.apache.org">
    <meta property="twitter:url" content="https://petri.apache.org">
    <meta name="twitter:title" content="Apache Petri">
    <meta name="twitter:description" content="Assists external project communities interested in becoming an Apache project learn how The ASF works and its views on how to build a healthy community">
    <meta name="twitter:image" content="https://petri.apache.org/images/logo.png">
    <!-- Above Meta Tags Generated via https://www.opengraph.xyz -->
